<div class="edit-view">

  <!-- List Part -->

  <div class="book-list-container">
    <div
      *ngFor="let book of books"
      class="book-list"
      (click)="getBookbyId(book._id)"
      [class.active]="selectedBook?._id === book._id"
    >
      <i class="fa-solid fa-pen-to-square"></i>
      <p>{{ book.title }}</p>
      <i
        class="fa-solid fa-trash"
        (click)="deleteBook(book._id, book.title); $event.stopPropagation()"
      ></i>
    </div>
  </div>

  <!-- Edit Part  -->
  <div class="details" *ngIf="selectedBook">
    <img
      src="https://i.ibb.co/mVK2NXW7/book1.jpg"
      alt="{{ selectedBook.title }}"
      width="100"
      height="150"
    />

    <div class="bookinfo">
        <form [formGroup]="editForm" (ngSubmit)="updateBook(selectedBook._id)">
            <input type="text" formControlName="title" />
            <input type="text" formControlName="author" />
            <input type="text" formControlName="genre" />
            <input type="text" formControlName="publishedYear" />
            <input type="text" formControlName="rating" />
        

      <button type="submit">Edit Book</button>
      </form>
    </div>
  </div>

</div>
