.navClass {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--card-bg);
    font-size: 20px;
    box-shadow: #ccc;
    align-items: center;
    margin-top: -0.8%;
    padding-top: 0%;
}

ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

li{
    padding: 10px;
}

li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 20px;
    cursor: pointer;
}

li a:hover {
    color: rgb(68, 67, 64);    
}

input {
    margin-left: 50px;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 200px;
    height: 30px;
}

.toggleButton {
    margin-left: 50px;
    font-size: 24px;
    cursor: pointer;
}

.logo {
    font-size: 30px;
    margin-right: 10px;

    
}


@media (max-width: 600px) {
    .navClass {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .toggleButton {
        margin-left: 0;
        margin-top: 10px;
    }

    input {
        margin-left: 0;
        margin-top: 10px;
        width: 250px;
    }
}   